name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Brakeman security scan
        run: bin/brakeman --no-pager

      - name: Bundler Audit scan
        run: bin/bundler-audit

  scan_js:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Scan JS dependencies
        run: bin/importmap audit

  lint:
    runs-on: ubuntu-latest
    env:
      RUBOCOP_CACHE_ROOT: tmp/rubocop

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Prepare RuboCop cache
        uses: actions/cache@v4
        env:
          DEPENDENCIES_HASH: ${{ hashFiles('.ruby-version', '**/.rubocop.yml', '**/.rubocop_todo.yml', 'Gemfile.lock') }}
        with:
          path: ${{ env.RUBOCOP_CACHE_ROOT }}
          key: rubocop-${{ runner.os }}-${{ env.DEPENDENCIES_HASH }}
          restore-keys: |
            rubocop-${{ runner.os }}-

      - name: Run RuboCop
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - "5432:5432"
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Install system packages & Chrome
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y \
            libpq-dev \
            xvfb \
            unzip \
            wget \
            jq

          wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo dpkg -i google-chrome-stable_current_amd64.deb || sudo apt-get -f install -y

      - name: Install matching ChromeDriver (Chrome for Testing)
        run: |
          CHROME_VERSION=$(google-chrome --version | awk '{print $3}')
          MAJOR_VERSION=${CHROME_VERSION%%.*}

          echo "Chrome version: $CHROME_VERSION"
          echo "Major: $MAJOR_VERSION"

          wget -q https://googlechromelabs.github.io/chrome-for-testing/last-known-good-versions-with-downloads.json -O versions.json
          DRIVER_VERSION=$(jq -r ".channels.Stable.version" versions.json)

          echo "Using ChromeDriver version: $DRIVER_VERSION"

          DRIVER_URL="https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/${DRIVER_VERSION}/linux64/chromedriver-linux64.zip"

          wget -q "$DRIVER_URL"
          unzip chromedriver-linux64.zip

          sudo mv chromedriver-linux64/chromedriver /usr/local/bin/
          sudo chmod +x /usr/local/bin/chromedriver

          rm -rf chromedriver-linux64 chromedriver-linux64.zip versions.json

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Build TailwindCSS
        run: bin/rails tailwindcss:build

      - name: Prepare test database
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:postgres@localhost:5432
        run: bin/rails db:test:prepare

      - name: Run RSpec (with coverage)
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:postgres@localhost:5432
          CI: true
        run: |
          xvfb-run --auto-servernum bundle exec rspec

      - name: Upload coverage JSON
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/coverage.json
          retention-days: 7

      - name: Upload Coverage to Codecov
        if: github.ref == 'refs/heads/main'
        uses: codecov/codecov-action@v5
        with:
          files: coverage/coverage.json
          flags: unittests
          fail_ci_if_error: false
